---
import "@unocss/reset/tailwind.css";
import getProps from "@res/js/getProps";
import Navbar from "@components/Navbar.astro";

const { title, class: className, ogpType, ogpDescription } = getProps(Astro.props);
const baseTitle = "maisy's website";
const usableTitle = title ? `${title} - ${baseTitle}` : baseTitle;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- TODO: How do I use the Uno theme directly here? -->
        <meta name="theme-color" content="#a0b0b4" />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:type" content={ogpType ?? "website"} />
        <meta property="og:site_name" content={usableTitle} />
        <meta property="og:description" content={ogpDescription ?? "Hi there, I'm maisy!"} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="me" href="https://wetdry.world/@maisy" />
        <title>{usableTitle}</title>
        <slot name="head" />
    </head>

    <body class=`bg-gradient-to-b from-primary to-secondary text-normal h-full bg-no-repeat bg-fixed font-sans tracking-wide scrollbar scrollbar-track-color-tertiary scrollbar-thumb-color-accent scrollbar-w-2 ${className}`>
        <Navbar />
        <main class="mx-auto p-6 pt-18 h-full sm:w-[75%] lt-sm:w-full max-w-[1920px]">
            <slot />
        </main>
    </body>
</html>
